# ========== Unity ==========
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/

# Crash Reports
SysInfo.txt

# ========== OS ==========
.DS_Store
Thumbs.db

# ========== IDE ==========
.vscode/
.idea/
*.sln
*.csproj
*.unityproj
*.pidb
*.suo
*.user
*.userprefs
*.db
*.opendb
*.VC.db
*.VC.opendb

# ========== Packages ==========
*.unitypackage

# ========== Other ==========
.vs/

# .NET build artefacts (могут появиться, если случайно создать dotnet-проект в Assets)
Assets/**/obj/
Assets/**/bin/
Assets/**/.vs/
Assets/**/*.csproj
Assets/**/*.sln



